<h2>Restaurant List</h2>
<nav>
<%= link_to "Create New Restaurant", new_restaurant_path %>
</nav>

<ul>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant)%> <%= restaurant.address%> <%= restaurant.category%> <%= restaurant.phone_number%>(<%= restaurant.reviews.count %>)
</li>
<% end %>
</ul>
